@import './variables.scss';
@import './mixin.scss';
* {
  margin: 0;
  padding: 0;
}
html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}

.app-container {
  padding-bottom: 50px;
}
